<div class="bg-white p-5 shadow-lg">
    <app-modal-title (close)="clickClose.emit()" [title]="'Delete '+title"></app-modal-title>        
    <p class="font-semibold mb-2">You are about to delete this {{title}} </p>
    <div class="bg-red-50 text-secondary-500 p-3 rounded-md">
      <p>
        <span>Warning</span>
      </p>
      <p>By deleting this {{title}}, it will be remove permanently and you won't be able to see it again !</p>
    </div>
    <div  class="mt-6 flex items-center justify-end space-x-5">
      <app-button (click)="clickDelete.emit()" label="delete"></app-button>
    </div>
</div>