<div class="overflow-visible bg-white relative shadow-md sm:rounded-lg  overflow-x-auto"
  [ngClass]="[isLoading() || tableData() == undefined  || tableData().length == 0 ? 'h-full' : 'h-auto']">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    [ngClass]="[isLoading() || tableData() == undefined || tableData().length == 0 ? 'h-full' : 'h-auto']">
    <!-- head -->
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        @for (tableHeaderItem of tableHeader(); track $index) {
        <th scope="col" class="px-6 py-3" [ngClass]="[
          $first?'rounded-s-lg':'',
          $last? 'rounded-e-lg':'',
          tableHeaderItem?.class || '']">
          {{ tableHeaderItem.label }}
        </th>
        }
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      @if (!isLoading()) {

      @for (data of (isPaginated() ? (tableData() | paginate: {
      itemsPerPage: paginationConfig()?.itemsPerPage,
      currentPage: paginationConfig()?.currentPage,
      totalItems: paginationConfig()?.totalItems
      }) : tableData()); track $index) {
      <ng-container class="contents" [ngComponentOutlet]="tableType()"
        [ngComponentOutletInputs]="{data, isLastItem:$last, bordered: !$last}" />
        
      } @empty {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td [colSpan]="tableHeader().length + 10" class="px-6 py-4">
          <div class="w-full flex flex-col justify-center items-center gap-1">
            <!-- <icon-database [size]="40"></icon-database> -->
            <span class="text-base font-semibold">Empty Datas</span>
          </div>
        </td>
      </tr>
      }
      } @else {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td [colSpan]="tableHeader().length + 10" class="px-6 py-4">
          <div class="w-full flex  justify-center items-center gap-1">
            <app-loarding></app-loarding>
            <span class="text-base font-semibold">Loading data...</span>
          </div>
        </td>
      </tr>
      }
    </tbody>

    <!-- Footer -->
    @if (isPaginated()) {
    <tfoot class="border-t">
      <th [colSpan]="tableHeader().length">
        <pagination-controls  class="pagination mt-3" (pageChange)="onPageChanged($event)"></pagination-controls>
      </th>
    </tfoot>
    }
  </table>
</div>